# Contact form background email (Formspree)
# Create a form at https://formspree.io/ and paste your endpoint URL below
VITE_FORMSPREE_ENDPOINT=

# EmailJS (client-side email)
VITE_EMAILJS_SERVICE_ID=service_igqv8yd
VITE_EMAILJS_TEMPLATE_ID=template_mlklq0g
VITE_EMAILJS_PUBLIC_KEY=HLiuCdfm1fusM9lS2
